ul ul{
    color: red;
    visibility: hidden;
    height: 0;
}
ul ol{
    color: red;
    visibility: hidden;
    height: 0;
}
li:hover > ul{


    visibility: visible;
    height: auto;


}

li:hover> ol{
    visibility: visible;
    height: auto;
}
